//variables
$color-background: linear-gradient(90deg, rgba(238,231,231,1) 0%, rgba(155,146,146,1) 100%);
$color-footer:black;
$color-hr:black;
$color-background-card: grey;


// SAS ORIGINAL

//Index.
@import "./modulos/header";
@import "./modulos/main-index";
@import "./modulos/footer";
@import "./modulos/nosotros";
@import "./modulos/cocinas";
@import "./modulos/contacto";
@import "./modulos/ubicacion";
@import "./modulos/mediaqueri";













 

