.titulo{
    margin-top: 20px;
    text-align: center;
}
.Definicion{
    font-family: 'REM', sans-serif;
    font-size: 1.2rem;
text-align: center;
border: solid black;
}

#pcr{
    height: 450px ;
}
.carousel-control-next-icon{
    background-color: red
}